
@import "../../../scss/base/includes.scss";
.sideNav{width: 260px;background: $brand-primary;height: 100vh;padding-top: 56px;    overflow-y: auto;
    overflow-x: hidden; position: fixed;
    // ul{overflow-y: auto;}
    li{border-bottom: solid 1px $brand-primary-border;
        a{padding: 16px;color: #908d8d;font-size: 14px;display: block;
            &:hover, &.active{
                color: #fff;background: $brand-primary-hover;
            }
        }
    }
}

@media screen and (max-width:767px){
    .sideNav{transform: translateX(-258px);transition-duration: .3s;
        &.show{transform: translateX(0px);}
    }
}

